doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title CTR Landing
        link(rel="stylesheet", href="./style.min.css")
        link(rel="shortcut icon", href="./assets/images/content/favicon.png", type="image/x-icon")
    body 
        main.main 
            .main-area.main-area--red 
                form.main-area__calculator
                    .form-header Калькулятор расчета автокредита
                    .form-subheader Укажите необходимую сумму для покупки авто и узнайте ежемесячный платеж
                    label(for="slideCreditInput").form-label Сумма кредита:
                        input#sliderCreditInput(type="text", name="data[Сумма кредита:]", value = "500.000", data-inputmask="'mask': '+7(999) 999-99-99'").form-input
                        .slider#sliderCredit
                    label(for="slideInvestInput").form-label.form-label--small Первоначальный взнос:
                        input#sliderInvestInput(type="text", name="data[Сумма кредита:]", value = "0").form-input
                        .slider#sliderInvest
                    label(for="slideTimeInput").form-label.form-label--small Срок кредитования:
                        input#sliderTimeInput(type="text", name="data[Сумма кредита:]", value = "36").form-input
                        .slider#sliderTime
                    .calculator-container 
                        .result#perMonthResult 
                            | 16 837 
                            span ₽
                        .caption ежемесячный платеж
                    button(type="submit").form-submit#submitCalculator Узнать больше 
            .main-area.main-area--gray
                .main-area__header 
                    | Цены растут в Иркутске, а 
                    span наши ставки
                    |  по кредиту - нет!
                .main-area__car-container 
                    .car-container__card.car--toyota 
                        .card-container 
                            .card-header Toyota Camry
                            .card-subheader прогнозируемый рост цен:
                            .card-table 
                                .table-row
                                    .table-month Март
                                    .table-value +7%
                                .table-row
                                    .table-month Апрель
                                    .table-value +14%
                    .car-container__card.car--kia  
                        .card-container 
                            .card-header Honda Fit
                            .card-subheader прогнозируемый рост цен:
                            .card-table 
                                .table-row
                                    .table-month Март
                                    .table-value +4%
                                .table-row
                                    .table-month Апрель
                                    .table-value +11%
                    .car-container__card.car--honda   
                        .card-container 
                            .card-header Kia Sportage
                            .card-subheader прогнозируемый рост цен:
                            .card-table 
                                .table-row
                                    .table-month Март
                                    .table-value +6%
                                .table-row
                                    .table-month Апрель
                                    .table-value +14%
                .main-area__advert-section 
                    .advert-section__header Успейте купить автомобиль до очереденого "взрыва" цен на рынке
                    .advert-section__selling-cards 
                        .selling-card
                            .circle.circle--docs
                            .selling-card__name Автокредит по 2-м документам
                        .selling-card
                            .circle.circle--time
                            .selling-card__name Решение за 1 час
                        .selling-card
                            .circle.circle--free
                            .selling-card__name Без первого взноса
                .main-area__aware Не является публичной офертой. Услуга предоставляется ООО Автокредит. Не является кредитной организацией. Автокредит предоставляется банками партнерами: ПАО РОСБАНК, Генеральная лицензия №2272 от 28.01.15 ООО Сетелем Банк лицензии Банка России № 2168 от 27 июня 2013 г. (бессрочные) ПАО «БыстроБанк» Лицензия Банка России №1745 ПАО «РГС Банк» Лицензия ЦБ РФ 3073 КБ"ЛОКО-Банк"(АО) Лицензия Банка России №2707. Полный список банков-парнеров уточняйте у операторов по телефону 8-800-600-25-15
            .main-form-submit.fromFullToZero 
                .main-area__layer
                form.final-submit
                    .close-form#closeSubmitForm 
                        span.cross-one 
                        span.cross-two
                    .form-header Подайте заявку уже сейчас
                    label(for="name").final-submit__label ФИО
                        input#name(type="text", name="name", placeholder="Иванов Иван Иванович", required).final-submit__input
                    label(for="phone").final-submit__label Номер телефона
                        input#phone(type="tel", name="phone",data-inputmask="'mask': '+7(999) 999-99-99'", required).final-submit__input
                    label(for="citizenLabelUncertain").container 
                        .agreement-label 
                            | Я являюсь гражданином РФ
                        input#citizenLabelUncertain(type="checkbox", name="agreementLabel", required).form-checkbox
                        span.checkmark 
                    label(for="agreementLabelUncertain").container 
                        .agreement-label 
                            | Я соглашаюсь с 
                            a(href="https://avtokred.com/privacy", target="_blank").agreement-label__link условиями 
                            |  и даю свое согласие на обработку и использование персональных данных
                        input#agreementLabelUncertain(type="checkbox", name="agreementLabel", checked, required).form-checkbox
                        span.checkmark
                    button(type="submit").final-submit__submit Подать заявку
        script(src="./assets/js/jquery.min.js") 
        script(src="//code.jquery.com/ui/1.12.1/jquery-ui.js") 
        script(src="./assets/js/plugins.min.js") 
        script(src="./assets/js/main.min.js") 
